@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);

@charset "UTF-8";

:root {
  --mainColor: #232323;
  --blackColor: #1C1C1C;
  --blueColor: #3AB9D4;
  --blueColor-hover: #006075;
  --textColor: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: var(--blackColor);
  color: var(--textColor);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__body {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  text-wrap: nowrap;
}

.menu__link {
  position: relative;
  line-height: 20px;
}

.menu__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0.125rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--blueColor);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 1.25rem;
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: var(--blueColor);
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  width: 50%;
  bottom: 0;
}

.icon-menu span {
  width: 75%;
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before,
.menu-open .icon-menu::after {
  width: 100%;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 600;
  line-height: 143.333333%;
  /* 43/30 */
  text-align: center;
}

.title:not(:last-child) {
  margin-bottom: 3.125rem;
}

.blue-decoration {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 396px;
  max-height: 396px;
  background-color: rgba(58, 185, 212, 0.15);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.header {
  background-color: var(--blackColor);
  position: relative;
  z-index: 999;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
}

.header__logo {
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: var(--blueColor);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  text-wrap: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.number svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.125rem;
          flex: 0 0 1.125rem;
  width: 1.125rem;
  height: 1.125rem;
}

.number svg * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.socials__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  width: 2.1875rem;
  height: 2.1875rem;
}

.socials__item svg {
  width: 100%;
  height: 100%;
}

.socials__item svg * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero__image {
  width: 100%;
}

.hero__image img {
  max-height: 37.5rem;
  min-height: 28.625rem;
}

.hero__wrapper {
  padding: 3.125rem;
  position: absolute;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.hero__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__body::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 396px;
  max-height: 396px;
  background-color: rgba(58, 185, 212, 0.7);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.hero__title {
  z-index: 2;
  font-weight: 700;
  padding-bottom: 0.8125rem;
  position: relative;
}

.hero__title::before {
  content: "";
  position: absolute;
  width: 10.625rem;
  height: 0.09375rem;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: var(--mainColor);
  border-radius: 1.875rem;
}

.hero__text {
  z-index: 2;
  font-weight: 500;
  padding-top: 0.8125rem;
}

.hero__decor {
  z-index: 2;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  font-weight: 700;
}

.hero__decor img {
  width: 100%;
  height: 100%;
}

.hero__decor-01 {
  top: 30px;
  left: -44%;
}

.hero__decor-02 {
  bottom: 30px;
  right: -57%;
}

.services {
  position: relative;
}

.services .stones {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding: 1.875rem;
  justify-items: center;
}

.services .stones__image {
  position: relative;
  top: -50%;
}

.services .stones :nth-child(2) {
  top: 80%;
}

.services__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

.services__items .decorations {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__items .decorations .blue-decoration {
  position: relative;
}

.item-services {
  background-color: rgba(35, 35, 35, 0.8);
  border-radius: 0.625rem;
  width: 100%;
  min-height: 15.75rem;
  max-width: 19.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.6875rem;
}

.item-services__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.item-services__text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 10.625rem;
  border-radius: 1.25rem;
  background-color: var(--blueColor);
}

@media (min-width: 47.99875em) {
  .hero__decor {
    width: 60vw;
  }

  .hero__decor-01 {
    left: -26%;
  }

  .hero__decor-02 {
    right: -34%;
  }
}

@media (min-width: 61.99875em) {
  .menu {
    width: 100%;
  }

  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .icon-menu {
    display: none;
  }
}

@media (min-width: 81.875em) {
  .menu__list {
    gap: 2.8125rem;
  }

  .title {
    font-size: 1.875rem;
  }

  .header__container {
    gap: 6.25rem;
  }

  .header__logo {
    font-size: 1.5625rem;
  }

  .hero__title {
    font-size: 4.375rem;
  }

  .hero__text {
    font-size: 1.5625rem;
  }

  .services {
    padding-top: 6.25rem;
  }

  .services {
    padding-bottom: 6.25rem;
  }
}

@media (max-width: 20em) {
  .menu__list {
    gap: 1.25rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .header__container {
    gap: 1.25rem;
  }

  .header__logo {
    font-size: 1.25rem;
  }

  .hero__title {
    font-size: 1.9375rem;
  }

  .hero__text {
    font-size: 1.125rem;
  }

  .services {
    padding-top: 1.875rem;
  }

  .services {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
    max-width: 80%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem 0.9375rem 1.25rem 0.9375rem;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    background-color: var(--mainColor);
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5rem;
    right: -100%;
    top: 0;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 2;
    background-color: var(--blackColor);
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__body .number {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 0 0 0;
  }

  .menu__body .socials {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: auto 0 0 0;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (gap: clamp( 1.25rem , 0.7449494949rem  +  2.5252525253vw , 2.8125rem )) {
    .menu__list {
      gap: clamp( 1.25rem , 0.7449494949rem  +  2.5252525253vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.7449494949rem  +  2.5252525253vw , 2.8125rem )) {
    .menu__list {
      gap: calc(1.25rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3787878788rem  +  0.6060606061vw , 1.875rem )) {
    .title {
      font-size: clamp( 1.5rem , 1.3787878788rem  +  0.6060606061vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3787878788rem  +  0.6060606061vw , 1.875rem )) {
    .title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , -0.3661616162rem  +  8.0808080808vw , 6.25rem )) {
    .header__container {
      gap: clamp( 1.25rem , -0.3661616162rem  +  8.0808080808vw , 6.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.3661616162rem  +  8.0808080808vw , 6.25rem )) {
    .header__container {
      gap: calc(1.25rem + 5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.148989899rem  +  0.5050505051vw , 1.5625rem )) {
    .header__logo {
      font-size: clamp( 1.25rem , 1.148989899rem  +  0.5050505051vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.148989899rem  +  0.5050505051vw , 1.5625rem )) {
    .header__logo {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.9375rem , 1.1496212121rem  +  3.9393939394vw , 4.375rem )) {
    .hero__title {
      font-size: clamp( 1.9375rem , 1.1496212121rem  +  3.9393939394vw , 4.375rem );
    }
}

@supports not (font-size: clamp( 1.9375rem , 1.1496212121rem  +  3.9393939394vw , 4.375rem )) {
    .hero__title {
      font-size: calc(1.9375rem + 2.4375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9835858586rem  +  0.7070707071vw , 1.5625rem )) {
    .hero__text {
      font-size: clamp( 1.125rem , 0.9835858586rem  +  0.7070707071vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9835858586rem  +  0.7070707071vw , 1.5625rem )) {
    .hero__text {
      font-size: calc(1.125rem + 0.4375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .services {
      padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .services {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .services {
      padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .services {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover::after {
    content: "";
    width: 100%;
  }

  .header__logo:hover {
    color: var(--blueColor-hover);
  }

  .number:hover {
    color: var(--blueColor);
  }

  .number:hover svg * {
    fill: var(--blueColor);
  }

  .socials__item:hover svg * {
    stroke: var(--blueColor-hover);
  }
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}